Nama : Wahyu Krisna Aji

Datasets : Best Books (10k) Multi-Genre Data

Source : Kaggle

Link : [Best Books (10k) Multi-Genre Data](https://www.kaggle.com/datasets/ishikajohari/best-books-10k-multi-genre-data)

## **Project Overview**

Perpustakaan Daerah Provinsi Kalimantan Selatan merupakan salah satu
perpustakaan dan pusat penyedia layanan informasi yang ada di Kalimantan
Selatan. Namun. selama ini pengunjung perpustakaan kesulitan dalam mencari
buku yang berkaitan dengan buku yang dipilih sebelumnya dan juga dalam
menemukan alternatif buku lain ketika buku yang diinginkan tersebut telah
dipinjam. dengan adanya rekomendasi atau saran buku-buku lain yang
berhubungan diharapkan membantu dalam mendapatkan buku yang sesuai dan
diinginkan pengunjung perpustakaan. Pada penelitian ini penerapan sistem
rekomendasi menggunakan metode Content Based Filtering dalam
memberikan rekomendasi buku yang bekerja dengan melihat kemiripan item
yang dianalisis dari fitur yang dikandungnya dengan Weighted Tree Similarity.
Berdasarkan hasil pengujian yang telah dilakukan pada 5 skenario pengujian
yang diujikan dihasilkan nilai precision sebesar 88%.

referensi dari proyek overview yang saya buat dapat dilihat dari tautan berikut : [Jurnal Manajemen, Teknik Informatika dan Rekayasa Komputer](https://journal.universitasbumigora.ac.id/index.php/matrik/article/download/617/587/)

# **Data Understanding**

In [10]:
# Install opendataset
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendatasets in /usr/local/lib/python3.10/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.5.13)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4)

In [24]:
# import all needed libraries
import pandas as pd
import opendatasets as od

In [25]:
od.download('https://www.kaggle.com/datasets/ishikajohari/best-books-10k-multi-genre-data')

Skipping, found downloaded files in "./best-books-10k-multi-genre-data" (use force=True to force download)

In [54]:
books = pd.read_csv('/content/best-books-10k-multi-genre-data/goodreads_data.csv')
books

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...,...
9995,9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

In [55]:
print('Books data numbers : ', len(books.Book.unique()))

Books data numbers :  9871

In [56]:
# Drop Unnamed: 0	column
books = books.drop('Unnamed: 0', axis=1)
books

,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...
9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

## **Univariate Exploratory Data Analysis**

Variabel-variabel pada dataset Best Books (10k) Multi-Genre Data adalah sebagai berikut :

- Book: merupakan judul buku
- Author:  merupakan pengarang buku
- Description: merupakan deskripsi buku
- Genres: merupakan genre buku
- Avg_Rating: mmerupakan rating rata-rata
- Num_Ratings: merupakan rating secara keseluruhan
- URL: merupakan link untuk mendownload buku

### **Book Variable**

Mari kita eksplorasi variabel book yang merupakan judul buku dalam dataset

In [57]:
books.Book.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Book
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **Author Variable**

Eksplorasi variabel author, merupakan variabel yang menyimpan informasi mengenai nama-nama penulis buku

In [58]:
books.Author.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Author
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **Description Variable**

Eksplorasi variabel description, yang menyimpan deskripsi/sinopsis dari masing-masing buku.

In [59]:
books.Description.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Description
Non-Null Count  Dtype
--------------  -----
9923 non-null   object
dtypes: object(1)
memory usage: 78.2+ KB

### **Genres Variable**

Explorasi variabel genres - merupakan variabel yang berisi data genre dari masing-masing buku

In [60]:
books.Genres.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Genres
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **Avg_Rating Variable**

Eksplorasi variabel avg_rating - merupakan rating rata-rata dari masing-masing buku

In [61]:
books.Avg_Rating.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Avg_Rating
Non-Null Count  Dtype
--------------  -----
10000 non-null  float64
dtypes: float64(1)
memory usage: 78.2 KB

### **Num_Ratings Variable**

Eksplorasi variabel num_rating - merupakan rating keseluruhan dari masing-masing buku

In [62]:
books.Num_Ratings.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Num_Ratings
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **URL Variable**

Eksplorasi variabel url - merupakan link tempat untuk mengunduh buku

In [63]:
books.URL.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: URL
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

## **Data Preprocessing**

Dikarenakan data telah rapi, maka kita akan lanjut ke data preparation

## **Data Preparation**

### **Mengatasi Missing Value**

Mencari apakah di dalam data yang kita miliki terdapat missing value

In [64]:
books.isnull().sum()

Book            0
Author          0
Description    77
Genres          0
Avg_Rating      0
Num_Ratings     0
URL             0
dtype: int64

Berdasarkan hasil di atas, ternyata terdapat kolom dengan missing value, yaitu pada variabel Description sebanyak 77 buah. Jika demikian, kita akan menghapus semua data yang kosong tersebut.

In [65]:
books = books.dropna()

In [66]:
books.isnull().sum()

Book           0
Author         0
Description    0
Genres         0
Avg_Rating     0
Num_Ratings    0
URL            0
dtype: int64

### **Menyamakan jenis Genres**

In [67]:
fix_books = books
fix_books

,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...
9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

#### **Mengecek jumlah fix_books**

In [68]:
len(fix_books.Book.unique())

9795

#### **Mengecek Genres**

In [69]:
fix_books['Genres'] = fix_books['Genres'].map(lambda x: x.lstrip('[').rstrip(']'))
fix_books['Genres'] = fix_books['Genres'].str.replace("'", "")
fix_books.head()

<ipython-input-69-2f1ad1809d07>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fix_books['Genres'] = fix_books['Genres'].map(lambda x: x.lstrip('[').rstrip(']'))
<ipython-input-69-2f1ad1809d07>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fix_books['Genres'] = fix_books['Genres'].str.replace("'", "")

,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"Classics, Fiction, Historical Fiction, School,...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"Fantasy, Fiction, Young Adult, Magic, Children...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","Classics, Fiction, Romance, Historical Fiction...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"Classics, Nonfiction, History, Biography, Memo...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"Classics, Fiction, Dystopia, Fantasy, Politics...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [70]:
fix_books.Genres.unique()

array(['Classics, Fiction, Historical Fiction, School, Literature, Young Adult, Historical',
       'Fantasy, Fiction, Young Adult, Magic, Childrens, Middle Grade, Classics',
       'Classics, Fiction, Romance, Historical Fiction, Literature, Historical, Audiobook',
       ...,
       'Dystopia, Science Fiction, Post Apocalyptic, Paranormal, Fantasy',
       'Fiction, Horror, Dystopia, Coming Of Age',
       'New Adult, Romance, Contemporary Romance, Contemporary'],
      dtype=object)

In [73]:
book = fix_books['Book'].tolist()
author = fix_books['Author'].tolist()
genres = fix_books['Genres'].tolist()

In [74]:
print(len(book))
print(len(author))
print(len(genres))

9923
9923
9923

In [75]:
# Membuat dictionary untuk data ‘book’, ‘author’, dan ‘genres’
new_books = pd.DataFrame({
    'title': book,
    'author': author,
    'genre': genres
})
new_books

,title,author,genre
0,To Kill a Mockingbird,Harper Lee,"Classics, Fiction, Historical Fiction, School,..."
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,"Fantasy, Fiction, Young Adult, Magic, Children..."
2,Pride and Prejudice,Jane Austen,"Classics, Fiction, Romance, Historical Fiction..."
3,The Diary of a Young Girl,Anne Frank,"Classics, Nonfiction, History, Biography, Memo..."
4,Animal Farm,George Orwell,"Classics, Fiction, Dystopia, Fantasy, Politics..."
...,...,...,...
9918,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,"Dystopia, Science Fiction, Post Apocalyptic, P..."
9919,Dynamo,Eleanor Gustafson,
9920,The Republic of Trees,Sam Taylor,"Fiction, Horror, Dystopia, Coming Of Age"
9921,"Waking Up (Healing Hearts, #1)",Renee Dyer,"New Adult, Romance, Contemporary Romance, Cont..."
9922,Bits and Pieces: Tales and Sonnets,Jas T. Ward,

### **Modelling**

Pada tahap modelling, saya membuat sebuah model machine learning dengan menggunakan algoritma **Content Based Filtering**

### **Content Based Filtering**

In [78]:
from sklearn.feature_extraction.text import TfidfVectorizer
 
# Inisialisasi TfidfVectorizer
vector = TfidfVectorizer()
 
# Melakukan perhitungan idf pada data genre
vector.fit(new_books['genre']) 
 
# Mapping array dari fitur index integer ke fitur nama
vector.get_feature_names_out()

array(['12th', '15th', '16th', '17th', '18th', '19th', '20th', '21st',
       'about', 'abuse', 'academia', 'academic', 'acceptance', 'action',
       'activism', 'adhd', 'adoption', 'adult', 'adventure', 'africa',
       'african', 'age', 'agriculture', 'alchemy', 'algeria', 'aliens',
       'alternate', 'amazon', 'america', 'american', 'americana',
       'americans', 'amish', 'anarchism', 'ancient', 'and', 'angels',
       'animal', 'animals', 'anthologies', 'anthropology', 'anti',
       'apocalyptic', 'archaeology', 'architecture', 'art', 'arthurian',
       'artificial', 'arts', 'asexual', 'asia', 'asian', 'astrology',
       'astronomy', 'atheism', 'audiobook', 'australia', 'authors',
       'autistic', 'autobiography', 'aviation', 'awards', 'bande',
       'banned', 'baseball', 'basketball', 'batman', 'bdsm', 'beast',
       'beauty', 'biblical', 'biography', 'biology', 'birds', 'bizarro',
       'boarding', 'book', 'books', 'botswana', 'brain', 'brazil',
       'british', 'buddhism', 'buisness', 'business', 'canada',
       'canadian', 'care', 'catholic', 'cats', 'century', 'change',
       'chapter', 'chemistry', 'chick', 'childrens', 'china', 'chinese',
       'christian', 'christianity', 'christmas', 'church', 'cities',
       'civil', 'classic', 'classical', 'classics', 'clean', 'climate',
       'club', 'collection', 'collections', 'college', 'comedian',
       'comedy', 'comic', 'comics', 'coming', 'comix', 'communication',
       'computer', 'conspiracy', 'contemporary', 'cookbooks', 'cooking',
       'counselling', 'counter', 'counting', 'cozy', 'crafts', 'crime',
       'criticism', 'cthulhu', 'culinary', 'cults', 'cultural', 'culture',
       'cyberpunk', 'cycling', 'czech', 'danish', 'dark', 'dc', 'death',
       'demons', 'denmark', 'design', 'dessinée', 'detective',
       'development', 'diary', 'diets', 'dinosaurs', 'disability',
       'disorder', 'divination', 'divorce', 'dogs', 'dragonlance',
       'dragons', 'drama', 'drawing', 'drink', 'dungeons', 'dutch',
       'dying', 'dystopia', 'earth', 'ecology', 'economics', 'education',
       'edwardian', 'egypt', 'egyptian', 'elves', 'emotion',
       'engineering', 'english', 'entrepreneurship', 'environment',
       'epic', 'erotic', 'erotica', 'espionage', 'essays', 'ethiopia',
       'eugenics', 'european', 'evolution', 'fae', 'fairies', 'fairy',
       'faith', 'family', 'fan', 'fantasy', 'far', 'fat', 'female',
       'feminism', 'femme', 'fiction', 'fighters', 'figure', 'film',
       'finance', 'finnish', 'fitness', 'flash', 'folk', 'folklore',
       'food', 'foodie', 'football', 'for', 'forgotten', 'fostering',
       'france', 'french', 'futurism', 'futuristic', 'games', 'gaming',
       'gardening', 'gay', 'gender', 'genderfluid', 'genetics',
       'geography', 'geology', 'german', 'germany', 'ghana', 'ghost',
       'ghosts', 'global', 'go', 'god', 'gods', 'gothic', 'government',
       'grade', 'graphic', 'greece', 'greek', 'guidebook', 'halloween',
       'hard', 'harem', 'health', 'help', 'heroic', 'high', 'hinduism',
       'hip', 'historical', 'history', 'hockey', 'holiday', 'holocaust',
       'home', 'homeschool', 'hop', 'horror', 'horse', 'horses', 'how',
       'hugo', 'humor', 'hungarian', 'hungary', 'ii', 'illness', 'in',
       'india', 'indian', 'indonesian', 'inspirational', 'inspired',
       'intelligence', 'international', 'internet', 'iran', 'ireland',
       'irish', 'islam', 'israel', 'issues', 'italian', 'italy', 'japan',
       'japanese', 'jewish', 'josei', 'journal', 'journaling',
       'journalism', 'judaica', 'judaism', 'justice', 'juvenile', 'kenya',
       'kids', 'language', 'latin', 'law', 'lds', 'leadership', 'lebanon',
       'legal', 'leone', 'lesbian', 'lgbt', 'liberia', 'light',
       'linguistics', 'lit', 'literary', 'literature', 'living', 'logic',
       'love', 'lovecraftian', 'magic', 'magical', 'malawi', 'management',
       'manga', 'marathi', 'maritime', 'marriage', 'martial',
       'mathematics', 'mauritius', 'media', 'medical', 'medicine',
       'medieval', 'memoir', 'menage', 'mental', 'mermaids',
       'metaphysics', 'microhistory', 'middle', 'military', 'modern',
       'money', 'monsters', 'morocco', 'mountaineering', 'murder',
       'music', 'musicals', 'musicians', 'mystery', 'mysticism',
       'mythology', 'mythos', 'native', 'natural', 'nature', 'naval',
       'neuroscience', 'new', 'nigeria', 'nobel', 'noir', 'non',
       'nonfiction', 'nordic', 'novel', 'novella', 'novels', 'nursery',
       'nutrition', 'occult', 'of', 'opera', 'outdoors', 'own',
       'paganism', 'pakistan', 'palaeontology', 'paranormal', 'parenting',
       'period', 'personal', 'philosophy', 'photography', 'physics',
       'picture', 'pirates', 'planet', 'planning', 'plantagenet', 'plays',
       'poetry', 'poland', 'police', 'polish', 'political', 'politics',
       'polyamory', 'polygamy', 'pop', 'popular', 'portugal',
       'portuguese', 'post', 'poverty', 'prayer', 'prehistoric',
       'prehistory', 'presidents', 'princesses', 'prize', 'productivity',
       'programming', 'prostitution', 'psychiatry', 'psychoanalysis',
       'psychological', 'psychology', 'pulp', 'punk', 'queer', 'rabbits',
       'race', 'racing', 'racist', 'read', 'readers', 'realism',
       'realistic', 'realms', 'reference', 'regency', 'relations',
       'relationships', 'religion', 'research', 'retellings', 'reverse',
       'revolution', 'revolutionary', 'rhymes', 'right', 'robots', 'rock',
       'roll', 'roman', 'romance', 'romania', 'romanian', 'romantic',
       'romanticism', 'russia', 'russian', 'rwanda', 'satanism',
       'scandinavian', 'school', 'science', 'scotland', 'seinen', 'self',
       'serbian', 'sexuality', 'shapeshifters', 'shojo', 'short',
       'sierra', 'singularity', 'skating', 'skepticism', 'soccer',
       'social', 'society', 'sociology', 'software', 'somalia', 'sorcery',
       'south', 'southern', 'space', 'spain', 'spanish', 'spectrum',
       'speculative', 'spirituality', 'splatterpunk', 'sports', 'spy',
       'star', 'states', 'steampunk', 'stories', 'story', 'storytime',
       'street', 'strips', 'studies', 'sudan', 'superheroes', 'superman',
       'supernatural', 'surreal', 'survival', 'suspense',
       'sustainability', 'sweden', 'swedish', 'sword', 'tale', 'tales',
       'taoism', 'tarot', 'tasmania', 'tea', 'teaching', 'technical',
       'technology', 'teen', 'terrorism', 'textbooks', 'the', 'theatre',
       'thelema', 'theology', 'theories', 'theory', 'thriller', 'tie',
       'time', 'to', 'tragedy', 'trains', 'transgender', 'transport',
       'travel', 'travelogue', 'trek', 'true', 'tudor', 'turkish', 'tv',
       'ukraine', 'ukrainian', 'unfinished', 'unicorns', 'united',
       'universe', 'urban', 'urbanism', 'us', 'utopia', 'vampires',
       'vegan', 'vegetarian', 'victorian', 'video', 'war', 'warming',
       'wars', 'weird', 'werewolves', 'west', 'westerns', 'wicca',
       'wildlife', 'witchcraft', 'witches', 'wolves', 'womens', 'work',
       'world', 'writing', 'york', 'young', 'zen', 'zimbabwe', 'zombies'],
      dtype=object)

In [79]:
matrix = vector.fit_transform(new_books['genre']) 
matrix.shape

(9923, 583)

In [80]:
matrix.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [81]:
pd.DataFrame(
    matrix.todense(), 
    columns=vector.get_feature_names_out(),
    index=new_books.title
).sample(22, axis=1).sample(10, axis=0)

,faith,comic,splatterpunk,forgotten,vegan,technical,living,mauritius,sierra,acceptance,...,westerns,religion,marathi,palaeontology,club,development,criticism,film,steampunk,surreal
title,,,,,,,,,,,,,,,,,,,,,
Whisper Me This,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
The Innocents Abroad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Where I'm Calling From: New and Selected Stories,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
"The Nightlife: New York (The Nightlife, #1)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
"A Red Herring Without Mustard (Flavia de Luce, #3)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
The Dance of Anger: A Woman's Guide to Changing the Patterns of Intimate Relationships,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.300367,0.0,0.0,0.0,0.0
Aether Warriors (The Hidden War Series #1),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
"Hometown Girl at Heart (Hometown, #1)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Okay for Now,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Havana Queen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [82]:
from sklearn.metrics.pairwise import cosine_similarity

kemiripan = cosine_similarity(matrix) 
kemiripan

array([[1.        , 0.27102017, 0.67840391, ..., 0.04279165, 0.06627576,
        0.        ],
       [0.27102017, 1.        , 0.13170998, ..., 0.02063002, 0.06390359,
        0.        ],
       [0.67840391, 0.13170998, 1.        , ..., 0.04786189, 0.19259328,
        0.        ],
       ...,
       [0.04279165, 0.02063002, 0.04786189, ..., 1.        , 0.        ,
        0.        ],
       [0.06627576, 0.06390359, 0.19259328, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [83]:
data_kemiripan = pd.DataFrame(kemiripan, index=new_books['title'], columns=new_books['title'])
print('Shape:', data_kemiripan.shape)
 
data_kemiripan.sample(5, axis=1).sample(10, axis=0)

Shape: (9923, 9923)

title,The Liars' Club,"Darkfever (Fever, #1)",The Bridge of San Luis Rey,"Split Second (Sean King & Michelle Maxwell, #1)",The Sounding
title,,,,,
Go Ask Alice,0.0,0.037156,0.181972,0.035851,0.000000
The Complete Tales,0.0,0.075098,0.121887,0.018233,0.053002
"The Cold Moon (Lincoln Rhyme, #7)",0.0,0.000000,0.064351,0.853342,0.332163
Lake Hollow,0.0,0.000000,0.000000,0.000000,0.000000
"When Crazy's Coming, The Midlife Misadventures of a Midlife Diva (Book #1)",0.0,0.000000,0.000000,0.000000,0.000000
The Garden,0.0,0.415599,0.000000,0.000000,0.214973
"Odd Hours (Odd Thomas, #4)",0.0,0.337618,0.079198,0.396099,0.614199
An Abundance of Katherines,0.0,0.152453,0.141717,0.040883,0.000000
The Emigrants,0.0,0.000000,0.380626,0.032385,0.000000
"Angus, Thongs and Full-Frontal Snogging (Confessions of Georgia Nicolson, #1)",0.0,0.142588,0.066273,0.019119,0.000000

#### **Mendapatkan Rekomendasi**

In [84]:
def books_recommendations(title, kemiripan=data_kemiripan, items=new_books[['title', 'genre']], k=5):
   
 
    # Mengambil data dengan menggunakan argpartition untuk melakukan partisi secara tidak langsung sepanjang sumbu yang diberikan    
    # Dataframe diubah menjadi numpy
    # Range(start, stop, step)
    index = kemiripan.loc[:,title].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = kemiripan.columns[index[-1:-(k+2):-1]]
    
    # Drop nama_movie agar nama movie yang dicari tidak muncul dalam daftar rekomendasi
    closest = closest.drop(title, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

In [85]:
new_books[new_books.title.eq('The Emigrants')]

,title,author,genre
7156,The Emigrants,W.G. Sebald,"Fiction, German Literature, Historical Fiction..."

In [86]:
books_recommendations('The Emigrants')

,title,genre
0,Berlin Alexanderplatz,"Fiction, Classics, German Literature, Germany,..."
1,"The Radetzky March (Von Trotta Family, #1)","Fiction, Historical Fiction, Classics, German ..."
2,Buddenbrooks: The Decline of a Family,"Classics, Fiction, German Literature, Germany,..."
3,Wolf Among Wolves,"Fiction, Germany, German Literature, Historica..."
4,L'amico ritrovato,"Classics, Fiction, Historical Fiction, Histori..."