Nama : Wahyu Krisna Aji

Datasets : Best Books (10k) Multi-Genre Data

Source : Kaggle

Link : [Best Books (10k) Multi-Genre Data](https://www.kaggle.com/datasets/ishikajohari/best-books-10k-multi-genre-data)

## **Project Overview**

Perpustakaan Daerah Provinsi Kalimantan Selatan merupakan salah satu
perpustakaan dan pusat penyedia layanan informasi yang ada di Kalimantan
Selatan. Namun. selama ini pengunjung perpustakaan kesulitan dalam mencari
buku yang berkaitan dengan buku yang dipilih sebelumnya dan juga dalam
menemukan alternatif buku lain ketika buku yang diinginkan tersebut telah
dipinjam. dengan adanya rekomendasi atau saran buku-buku lain yang
berhubungan diharapkan membantu dalam mendapatkan buku yang sesuai dan
diinginkan pengunjung perpustakaan. Pada penelitian ini penerapan sistem
rekomendasi menggunakan metode Content Based Filtering dalam
memberikan rekomendasi buku yang bekerja dengan melihat kemiripan item
yang dianalisis dari fitur yang dikandungnya dengan Weighted Tree Similarity.
Berdasarkan hasil pengujian yang telah dilakukan pada 5 skenario pengujian
yang diujikan dihasilkan nilai precision sebesar 88%.

referensi dari proyek overview yang saya buat dapat dilihat dari tautan berikut : [Jurnal Manajemen, Teknik Informatika dan Rekayasa Komputer](https://journal.universitasbumigora.ac.id/index.php/matrik/article/download/617/587/)

# **Data Understanding**

In [1]:
# Install opendataset
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.5.13)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
# import all needed libraries
import pandas as pd
import opendatasets as od

In [3]:
od.download('https://www.kaggle.com/datasets/ishikajohari/best-books-10k-multi-genre-data')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: wahyukrisnaaji
Your Kaggle Key: ··········
Downloading best-books-10k-multi-genre-data.zip to ./best-books-10k-multi-genre-data

100%|██████████| 4.63M/4.63M [00:00<00:00, 6.79MB/s]

In [4]:
books = pd.read_csv('/content/best-books-10k-multi-genre-data/goodreads_data.csv')
books

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...,...
9995,9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

In [5]:
print('Books data numbers : ', len(books.Book.unique()))

Books data numbers :  9871

In [6]:
# Drop Unnamed: 0	column
books = books.drop('Unnamed: 0', axis=1)
books

,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...
9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

## **Univariate Exploratory Data Analysis**

Variabel-variabel pada dataset Best Books (10k) Multi-Genre Data adalah sebagai berikut :

- Book: merupakan judul buku
- Author:  merupakan pengarang buku
- Description: merupakan deskripsi buku
- Genres: merupakan genre buku
- Avg_Rating: mmerupakan rating rata-rata
- Num_Ratings: merupakan rating secara keseluruhan
- URL: merupakan link untuk mendownload buku

### **Book Variable**

Mari kita eksplorasi variabel book yang merupakan judul buku dalam dataset

In [7]:
books.Book.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Book
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **Author Variable**

Eksplorasi variabel author, merupakan variabel yang menyimpan informasi mengenai nama-nama penulis buku

In [8]:
books.Author.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Author
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **Description Variable**

Eksplorasi variabel description, yang menyimpan deskripsi/sinopsis dari masing-masing buku.

In [9]:
books.Description.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Description
Non-Null Count  Dtype
--------------  -----
9923 non-null   object
dtypes: object(1)
memory usage: 78.2+ KB

### **Genres Variable**

Explorasi variabel genres - merupakan variabel yang berisi data genre dari masing-masing buku

In [10]:
books.Genres.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Genres
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **Avg_Rating Variable**

Eksplorasi variabel avg_rating - merupakan rating rata-rata dari masing-masing buku

In [11]:
books.Avg_Rating.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Avg_Rating
Non-Null Count  Dtype
--------------  -----
10000 non-null  float64
dtypes: float64(1)
memory usage: 78.2 KB

### **Num_Ratings Variable**

Eksplorasi variabel num_rating - merupakan rating keseluruhan dari masing-masing buku

In [12]:
books.Num_Ratings.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Num_Ratings
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

### **URL Variable**

Eksplorasi variabel url - merupakan link tempat untuk mengunduh buku

In [13]:
books.URL.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: URL
Non-Null Count  Dtype
--------------  -----
10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

## **Data Preprocessing**

Dikarenakan data telah rapi, maka kita akan lanjut ke data preparation

## **Data Preparation**

### **Mengatasi Missing Value**

Mencari apakah di dalam data yang kita miliki terdapat missing value

In [14]:
books.isnull().sum()

Book            0
Author          0
Description    77
Genres          0
Avg_Rating      0
Num_Ratings     0
URL             0
dtype: int64

Berdasarkan hasil di atas, ternyata terdapat kolom dengan missing value, yaitu pada variabel Description sebanyak 77 buah. Jika demikian, kita akan menghapus semua data yang kosong tersebut.

In [15]:
books = books.dropna()

In [16]:
books.isnull().sum()

Book           0
Author         0
Description    0
Genres         0
Avg_Rating     0
Num_Ratings    0
URL            0
dtype: int64

#### **Membersihkan Data Genres**

In [18]:
fix_books = books
fix_books

,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...
9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

In [48]:
fix_books['Genres'] = fix_books['Genres'].map(lambda x: x.lstrip('[').rstrip(']'))
fix_books['Genres'] = fix_books['Genres'].str.replace("'", "")
fix_books['Genres'] = fix_books['Genres'].str.split(',').str[:3].str.join(', ')
fix_books.head()

<ipython-input-48-0ae259473676>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fix_books['Genres'] = fix_books['Genres'].map(lambda x: x.lstrip('[').rstrip(']'))
<ipython-input-48-0ae259473676>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fix_books['Genres'] = fix_books['Genres'].str.replace("'", "")
<ipython-input-48-0ae259473676>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fix_books['Genres'] = fix_books['Genres'].str.split(',').str[:3].str.join(', ')

,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"Classics, Fiction, Historical Fiction",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"Fantasy, Fiction, Young Adult",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","Classics, Fiction, Romance",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"Classics, Nonfiction, History",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"Classics, Fiction, Dystopia",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

#### **Mengecek jumlah fix_books**

In [49]:
len(fix_books.Book.unique())

9795

### **Mengubah Data book, author, dan genres menjadi list**

In [50]:
book = fix_books['Book'].tolist()
author = fix_books['Author'].tolist()
genres = fix_books['Genres'].tolist()

In [51]:
print(len(book))
print(len(author))
print(len(genres))

9923
9923
9923

In [52]:
# Membuat dictionary untuk data ‘book’, ‘author’, dan ‘genres’
new_books = pd.DataFrame({
    'title': book,
    'author': author,
    'genre': genres
})
new_books

,title,author,genre
0,To Kill a Mockingbird,Harper Lee,"Classics, Fiction, Historical Fiction"
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,"Fantasy, Fiction, Young Adult"
2,Pride and Prejudice,Jane Austen,"Classics, Fiction, Romance"
3,The Diary of a Young Girl,Anne Frank,"Classics, Nonfiction, History"
4,Animal Farm,George Orwell,"Classics, Fiction, Dystopia"
...,...,...,...
9918,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,"Dystopia, Science Fiction, Post Apocalyptic"
9919,Dynamo,Eleanor Gustafson,
9920,The Republic of Trees,Sam Taylor,"Fiction, Horror, Dystopia"
9921,"Waking Up (Healing Hearts, #1)",Renee Dyer,"New Adult, Romance, Contemporary Romance"
9922,Bits and Pieces: Tales and Sonnets,Jas T. Ward,

### **Modelling**

Pada tahap modelling, saya membuat sebuah model machine learning dengan menggunakan algoritma **Content Based Filtering**

### **Content Based Filtering**

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer
 
# Inisialisasi TfidfVectorizer
vector = TfidfVectorizer()
 
# Melakukan perhitungan idf pada data genre
vector.fit(new_books['genre']) 
 
# Mapping array dari fitur index integer ke fitur nama
vector.get_feature_names_out()

array(['18th', '19th', '20th', '21st', 'about', 'abuse', 'action', 'adhd',
       'adoption', 'adult', 'adventure', 'africa', 'african', 'age',
       'agriculture', 'aliens', 'alternate', 'amazon', 'america',
       'american', 'amish', 'ancient', 'and', 'angels', 'animal',
       'animals', 'anthologies', 'anthropology', 'apocalyptic',
       'architecture', 'art', 'arthurian', 'artificial', 'arts',
       'asexual', 'asia', 'asian', 'astrology', 'astronomy', 'audiobook',
       'australia', 'autistic', 'autobiography', 'awards', 'bande',
       'banned', 'baseball', 'basketball', 'batman', 'bdsm', 'beast',
       'beauty', 'biography', 'biology', 'bizarro', 'book', 'books',
       'brazil', 'british', 'buddhism', 'buisness', 'business', 'canada',
       'catholic', 'cats', 'century', 'change', 'chapter', 'chick',
       'childrens', 'china', 'christian', 'christianity', 'christmas',
       'church', 'civil', 'classics', 'climate', 'club', 'collections',
       'college', 'comedy', 'comic', 'comics', 'coming', 'communication',
       'conspiracy', 'contemporary', 'cookbooks', 'cooking', 'cozy',
       'crime', 'criticism', 'culinary', 'cults', 'cultural', 'cyberpunk',
       'czech', 'dark', 'dc', 'death', 'design', 'dessinée',
       'development', 'dinosaurs', 'disorder', 'dogs', 'dragonlance',
       'dragons', 'drama', 'drawing', 'dutch', 'dystopia', 'economics',
       'education', 'egypt', 'entrepreneurship', 'environment', 'epic',
       'erotic', 'erotica', 'espionage', 'essays', 'ethiopia', 'european',
       'evolution', 'fae', 'fairy', 'faith', 'family', 'fantasy',
       'feminism', 'femme', 'fiction', 'film', 'finance', 'finnish',
       'folk', 'folklore', 'food', 'football', 'forgotten', 'france',
       'french', 'gaming', 'gardening', 'gay', 'gender', 'geology',
       'german', 'germany', 'ghana', 'ghosts', 'gods', 'gothic', 'grade',
       'graphic', 'greece', 'greek', 'halloween', 'harem', 'health',
       'help', 'heroic', 'high', 'hinduism', 'historical', 'history',
       'holocaust', 'horror', 'horses', 'how', 'hugo', 'humor',
       'hungarian', 'hungary', 'ii', 'illness', 'in', 'india', 'indian',
       'indonesian', 'inspirational', 'inspired', 'intelligence',
       'international', 'iran', 'ireland', 'irish', 'islam', 'israel',
       'issues', 'italian', 'italy', 'japan', 'japanese', 'jewish',
       'journaling', 'journalism', 'judaism', 'justice', 'juvenile',
       'kids', 'language', 'latin', 'law', 'lds', 'leadership', 'legal',
       'lesbian', 'lgbt', 'light', 'linguistics', 'lit', 'literary',
       'literature', 'living', 'logic', 'love', 'lovecraftian', 'magic',
       'magical', 'management', 'manga', 'marathi', 'marriage', 'martial',
       'mathematics', 'mauritius', 'media', 'medical', 'medicine',
       'medieval', 'memoir', 'menage', 'mental', 'mermaids',
       'metaphysics', 'middle', 'military', 'modern', 'money',
       'mountaineering', 'music', 'mystery', 'mythology', 'nature', 'new',
       'nigeria', 'nobel', 'noir', 'non', 'nonfiction', 'novel',
       'novella', 'novels', 'nutrition', 'occult', 'of', 'opera', 'own',
       'paganism', 'pakistan', 'paranormal', 'parenting', 'personal',
       'philosophy', 'photography', 'physics', 'picture', 'pirates',
       'plays', 'poetry', 'poland', 'polish', 'politics', 'polygamy',
       'portugal', 'portuguese', 'post', 'poverty', 'prayer',
       'presidents', 'prize', 'productivity', 'programming', 'psychiatry',
       'psychological', 'psychology', 'pulp', 'queer', 'race', 'readers',
       'realism', 'realistic', 'realms', 'reference', 'regency',
       'relationships', 'religion', 'retellings', 'reverse', 'roman',
       'romance', 'romanian', 'romantic', 'russia', 'russian',
       'scandinavian', 'school', 'science', 'scotland', 'self',
       'sexuality', 'shapeshifters', 'shojo', 'short', 'skepticism',
       'soccer', 'social', 'sociology', 'sorcery', 'south', 'southern',
       'space', 'spain', 'spanish', 'spectrum', 'speculative',
       'spirituality', 'splatterpunk', 'sports', 'spy', 'star', 'states',
       'steampunk', 'stories', 'story', 'studies', 'sudan', 'superheroes',
       'surreal', 'survival', 'suspense', 'sustainability', 'swedish',
       'sword', 'tales', 'tarot', 'teaching', 'technology', 'teen', 'the',
       'theatre', 'theology', 'theories', 'theory', 'thriller', 'tie',
       'time', 'to', 'transgender', 'travel', 'true', 'turkish',
       'ukrainian', 'unfinished', 'unicorns', 'united', 'urban',
       'vampires', 'vegan', 'vegetarian', 'victorian', 'war', 'wars',
       'weird', 'werewolves', 'westerns', 'wicca', 'wildlife',
       'witchcraft', 'witches', 'womens', 'world', 'writing', 'york',
       'young', 'zen', 'zombies'], dtype=object)

In [54]:
matrix = vector.fit_transform(new_books['genre']) 
matrix.shape

(9923, 390)

In [55]:
matrix.todense()

matrix([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.57201705, 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ]])

In [56]:
pd.DataFrame(
    matrix.todense(), 
    columns=vector.get_feature_names_out(),
    index=new_books.title
).sample(22, axis=1).sample(10, axis=0)

,italy,australia,animal,prize,parenting,russian,drawing,angels,folk,picture,...,teen,egypt,true,culinary,inspired,sorcery,science,hungary,queer,spy
title,,,,,,,,,,,,,,,,,,,,,
Versus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
"The Physick Book of Deliverance Dane (The Physick Book, #1)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
Why I Am Not a Christian and Other Essays on Religion and Related Subjects,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
"The First Pillar (Everville, #1)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.535602,0.0,0.0,0.0
A Stronger Kinship: One Town's Extraordinary Story of Hope and Faith,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
"Virtual Light (Bridge, #1)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.397407,0.0,0.0,0.0
What's Sebastian Up to Now?,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
Lemon Girl,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
Little Red Riding Hood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
"Fuzzy Nation (Fuzzy Sapiens, #7)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.470603,0.0,0.0,0.0

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

kemiripan = cosine_similarity(matrix) 
kemiripan

array([[1.        , 0.18613217, 0.54848941, ..., 0.1517404 , 0.        ,
        0.        ],
       [0.18613217, 1.        , 0.10698858, ..., 0.07541329, 0.17220613,
        0.        ],
       [0.54848941, 0.10698858, 1.        , ..., 0.08722023, 0.47693587,
        0.        ],
       ...,
       [0.1517404 , 0.07541329, 0.08722023, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.17220613, 0.47693587, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [58]:
data_kemiripan = pd.DataFrame(kemiripan, index=new_books['title'], columns=new_books['title'])
print('Shape:', data_kemiripan.shape)
 
data_kemiripan.sample(5, axis=1).sample(10, axis=0)

Shape: (9923, 9923)

title,"Blood Song (Raven's Shadow, #1)","Sanctuary (The Keeper, #4)",The Endurance: Shackleton's Legendary Antarctic Expedition,The Ten Thousand Doors of January,"Christianity for Modern Pagans: Pascal's Pensées - Edited, Outlined & Explained"
title,,,,,
"Burned (Burned, #1)",0.051587,0.0,0.0,0.153700,0.0
"The Eye of the World (The Wheel of Time, #1)",1.000000,0.0,0.0,0.502922,0.0
"Keeper of the Lost Cities (Keeper of the Lost Cities, #1)",0.220599,0.0,0.0,0.164315,0.0
The Collected Short Stories of Saki,0.046205,0.0,0.0,0.137665,0.0
"Hungerspelen (The Hunger Games, #1)",0.050752,0.0,0.0,0.151214,0.0
"Ultraviolet (Ultraviolet, #1)",0.046360,0.0,0.0,0.138126,0.0
The Midwife's Apprentice,0.108841,0.0,0.0,0.614896,0.0
The Fever,0.060158,0.0,0.0,0.179238,0.0
"Selling Scarlett (Love Inc., #1)",0.000000,0.0,0.0,0.000000,0.0
Haunted,0.042705,0.0,0.0,0.127236,0.0

#### **Mendapatkan Rekomendasi**

In [59]:
def books_recommendations(title, kemiripan=data_kemiripan, items=new_books[['title', 'genre']], k=5):
   
 
    # Mengambil data dengan menggunakan argpartition untuk melakukan partisi secara tidak langsung sepanjang sumbu yang diberikan    
    # Dataframe diubah menjadi numpy
    # Range(start, stop, step)
    index = kemiripan.loc[:,title].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = kemiripan.columns[index[-1:-(k+2):-1]]
    
    # Drop nama_movie agar nama movie yang dicari tidak muncul dalam daftar rekomendasi
    closest = closest.drop(title, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

In [64]:
new_books[new_books.title.eq('The Emigrants')]

,title,author,genre
7156,The Emigrants,W.G. Sebald,"Fiction, German Literature, Historical Fiction"

In [65]:
books_recommendations('The Emigrants')

                     title                                             genre
0             Atemschaukel  Fiction,  Historical Fiction,  German Literature
1                 Crabwalk  Fiction,  German Literature,  Historical Fiction
2              Chess Story            Fiction,  Classics,  German Literature
3  Heaven Has No Favorites            Classics,  Fiction,  German Literature
4                The Clown            Fiction,  German Literature,  Classics